name: CI/CD Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout c칩digo
      uses: actions/checkout@v4
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Cambia a tu regi칩n de AWS

    - name: Iniciar sesi칩n en ECR
      run: |
        aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 637423394741.dkr.ecr.us-east-1.amazonaws.com

    - name: Construir y publicar im치genes
      run: |
        docker build -t main-api:latest ./main_api
        docker build -t auxiliary-service:latest ./auxiliary_service

        docker tag main-api:latest 637423394741.dkr.ecr.us-east-1.amazonaws.com/main-api:latest
        docker tag auxiliary-service:latest 637423394741.dkr.ecr.us-east-1.amazonaws.com/auxiliary-service:latest

        docker push 637423394741.dkr.ecr.us-east-1.amazonaws.com/main-api:latest
        docker push 637423394741.dkr.ecr.us-east-1.amazonaws.com/auxiliary-service:latest
